/* Global */

/* colour variables */
:root {
  --pink: #FC4AA2;
  --cyan: #00BDF9;
  --orange: #DE9F39;
  --green: #40FAAA;
  --black: #000;
}

* {
  padding: 0px;
  margin: 0px;
  background-color: black !important;
}
body {
  padding-top: 95px;
  padding-bottom: 100px;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: 'Kanit';
}


/* 
HERO
*/
.main-hero {
  height: 18vh;
  width: 100%;
}

/* Main banner video */
video {
  z-index: 1;
  height: 80%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

/* 
HOME
*/

h1 {
  
}

#about {
  position: relative;
  z-index: 5;
  min-height: 400px;
  padding: 15px;
}

#portrait {
  margin: 20px;
  margin-top: 0px;
}

.homepage-btn {
  width: 100%;
  gap: 20px;
}

.nav-router {
}

/* 
PROJECTS 
*/

.card-img-top {
  width: 100%;
  height: 20vw;
  min-height: 280px;
  object-fit: cover;
  object-position: 25% 50%;
}

.card-body {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  justify-content: space-around;
  border-top: 1px white solid;
}


/* Buttons */

.btn {
  border: white 1px solid;
}

.btn :hover {
  color: red;
}

.button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  padding-bottom: 0px;
}

/* Card Title text */
h5 {
  color: white;
}

.card {
  z-index: 5;
}

/* 
CONTACT
*/

form {
  position: relative;
  z-index: 5;
}

#contact {
  position: relative;
}

/* 
FOOTER
*/

footer p {
  font-family: 'Orbitron', sans-serif;
}

.footer-wrapper {
    width: 80%;
    margin-top: 100px;
    z-index: 5;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

  
 /* Glow on Hover - Buttons */

.glow-on-hover {

  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, var(--orange), var(--cyan), var(--pink));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* MEDIA QUERIES

/* Tablets */

@media screen and (max-width: 767px) {

  .home-btn-container {
    justify-content: space-around;
    border: green solid 4px;
    padding: 0px;
    margin: 0px;

  }

  .homepage-btn {
    padding: 5px;
    width: 120px;
  }
}

/* Mobiles */

@media screen and (max-width: 450px) {

  /* Navbar */

  #title {
    font-size: 0.8em;
  }

  /* About */

  #portrait {
    height: 5%;
    max-height: 400;
    width: 90%;
  }

  #about {
    min-width: 300px;
    justify-self: center;
  }

  .homepage-btn {
    padding: 5px;
    width: 120px;
  }
}
