/* TODO: Choose a cool retro google font for the body.  Perhaps Monospace or Source Code Pro */

/* ! STRETCH GOAL: Customise the Bootstrap file to change color palette and fonts:
node_modules/bootstrap/scss/_variables.scss
https://www.youtube.com/watch?v=nCX3QVl_PiI
 */

* {
  padding: 0px;
  margin: 0px;
  background-color: black !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* 
 NAVBAR
 */
 .navbar {
  /* font-family: 'VT323', monospace; */
}

/* 
HERO
*/
.main-hero {
  height: 18vh;
  width: 100%;
}

/* Main banner video */
video {
  height: 80%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

/* 
PROJECTS 
*/

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  object-position: 25% 50%;
}

/* Card Title text */
h5 {
  color: white;
}

/* 
FOOTER
 */

 footer-wrapper {
  padding-top: 100px;
 }


