/* TODO: Choose a cool retro google font for the body.  Perhaps Monospace or Source Code Pro */

/* ! STRETCH GOAL: Customise the Bootstrap file to change color palette and fonts:
node_modules/bootstrap/scss/_variables.scss
https://www.youtube.com/watch?v=nCX3QVl_PiI
 */

* {
  padding: 0px;
  margin: 0px;
  background-color: black !important;
}
body {
  padding-top: 95px;
  padding-bottom: 100px;
  position: relative;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  /* font-family: 'Chakra Petch', sans-serif; */
  font-family: 'Orbitron', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

 /* 
 NAVBAR
 */

 h1 {
 }
 .navbar {
  /* font-family: 'VT323', monospace; */
}

/* 
HERO
*/
.main-hero {
  height: 18vh;
  width: 100%;
}

/* Main banner video */
video {
  z-index: 1;
  height: 80%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

/* 
HOME
*/

#about {
  position: relative;
}



/* 
PROJECTS 
*/

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  object-position: 25% 50%;
}

.card-body {
  height: 330px;
  /* border: blue 4px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  min-height: 280px;
}

/* #card-info {
  position: relative;
  top: 330px;
} */

.card-footer {
  justify-content: space-around;
  border-top: 1px white solid;
}

#tech {
  justify-content: space-between;
}

/* buttons */

.btn {
  border: white 1px solid;

}

/* Explcit style as conditionally rendered */
#liveBtn {
  border: white 1px solid;
}

.button-area {
  /* border: red solid 4px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-self: flex-end; */
  padding: 0px;
  padding-bottom: 0;
}

/* Card Title text */
h5 {
  color: white;
}

.card {
  z-index: 5;
  /* height: 500px; */
}

/* 
CONTACT
*/

form {
  position: relative;
  z-index: 5;
}

#contact {
  position: relative;
}

#contact-heading {
}


/* 
FOOTER
*/

footer p {
  font-family: 'Orbitron', sans-serif;
}

.footer-wrapper {
    width: 80%;
    margin-top: 100px;
    z-index: 5;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
  
  
  

